server:
  port: 8001
spring:
  application:
    name: cloud-provider-hystrix-payment
eureka:
  instance:
    instance-id: ${spring.cloud.client.ip-address}:${server.port}/${spring.application.name}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8170/eureka